@model TaskAndTime
@using Concurrency.Models.ProcessTasksAsTheyComplete;

@{
    ViewData["Title"] = "ProcessTaskAsTheyComplete";
     ResultTaskProcess resultTask = ViewData["Result"] as ResultTaskProcess;
}

<h3>Enter for each task the seconds needed to complete </h3>

<form asp-action="Tasks" method="POST">

<div class="form-group">
    <label asp-for="TaskA.SecondsToComplete">Task A</label>
    <input asp-for="TaskA.SecondsToComplete" type="number" class="form-control" placeholder="task A" min="1" max="10" step="1">
</div>

<div class="form-group">
    <label asp-for="TaskB.SecondsToComplete">Task B</label>
    <input asp-for="TaskB.SecondsToComplete" type="number" class="form-control" placeholder="Task B" min="1" max="10" step="1">
</div>

<div class="form-group">
    <label asp-for="TaskC.SecondsToComplete">Task C</label>
    <input asp-for="TaskC.SecondsToComplete" type="number" class="form-control" placeholder="Task C" min="1" max="10" step="1">
</div>

<button type="submit">Run Tasks</button>
</form> 
<br>
<p>
    @if(resultTask !=null){
    <h4>Tasks processed with a loop</h4>
    <b>@resultTask.Loop</b>
    <h4>Tasks processed as they complete</h4>
    <b>@resultTask.AsTheyComplete</b>
    }
</p>