@{
    ViewData["Title"] = "About";
}
<p>Working in Progress</p>
<h3>Asyncronous programming and councurrency using c#</h3>
<h4>The recipes</h4>
<ol>
    <li>Task Completion Source</li>
    <li>Task FromResult</li>
    <li>Retry</li>
    <li>CreateLinkedTokenSource</li>
</ol>
