@{
    ViewData["Title"] = "About";
}
<h3>Asyncronous programming and councurrency using c#</h3>
<h4>The recipes</h4>
<ol>
    <li>Task Completion Source</li>
    <li>Task FromResult</li>
    <li>Retry</li>
    <li>CreateLinkedTokenSource</li>
    <li>ThrowIfCancellationRequested</li> 
    <li>Aggregate Exceptions</li> 
    <li>Process Tasks as they complete</li> 
    <li>Sum in Parallel</li> 
    <li>ImmutableList Benchmark with for and foreach loop</li>
</ol>
