@model List<string>

@{
    ViewData["Title"] = "About";
}
<h3>Asyncronous programming and councurrency using c#</h3>
<h4>The recipes</h4>
<ul>
    @if(Model != null){
        foreach(var item in Model){
            <li>@item</li>
            }
        }
</ul>
