@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<br />
<address>
    <a class="fa fa-3x fa-github" href="https://github.com/LuigiAndrea"></a>
    <a class="fa fa-3x fa-twitter" href="https://twitter.com/Luigi_DAversa"></a>   
    <a class="fa fa-3x fa-linkedin" href="https://linkedin.com/in/luigiandreadaversa"></a>   
</address>