@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Concurrency Tasks.</h2>
        <p>Asynchronous method to Synchronous result</p>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="GetFromResult">Task FromResult</a></li>
            <li><a asp-action="GetTCS">Task Completion Source</a></li>
        </ul>
        <p>Simple Retry mechanism using asynchronous programming</p>
            <ul>
                <li><a asp-action="Retry">Retry</a></li>
            </ul>
        <p>Cancel asynchronous code using timeout or processing user input</p>
            <ul>
                <li><a asp-action="CancelAsync">CreateLinkedTokenSource</a></li>
            </ul>
        <p>Check periodically if a token has been cancelled</p>
            <ul>
                <li><a asp-action="CancellationTokenLoop">ThrowIfCancellationRequested</a></li>
            </ul>
    </div>
    <div class="col-md-6">
        <h2>Result</h2>
         <span>@ViewData["Result"]</span>
    </div>
</div>
